extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="menu")
    ul
      li(class="selected", id="mnuGameBoard")
        a(href="#GameBoard") Game Board
      li(id="mnuStatus")
        a(href="#Status") Status
      li(id="mnuHistory")
        a(href="#History") History  
  div(id="gameboard")
    table(class="gameboard")
      tr(class="vertPlot")
        td(class="cornerPlot") Free&nbsp;Parking
          div
        td(class="redPlot") Kentucky Avenue
          | $220
        td Chance
        td(class="redPlot") Indiana Avenue     
          | $220
        td(class="redPlot") Illinois Avenue
          | $240
        td B&amp;O Railroad
          | $200
        td(class="yellowPlot") Atlantic Avenue
          | $260
        td(class="yellowPlot") Ventnor Avenue
          | $260
        td Water Works
          | $150
        td(class="yellowPlot") Marvin Gardens
          | $280
        td(class="cornerPlot") Go&nbsp;To&nbsp;Jail
          div
      tr
        td(class="orangePlot") New York Avenue
          | $200
        td(rowspan="9", colspan="9", align="center")
          table(cellpadding="0", cellspacing="2", style="border:solid 2px #ff0000;")
            tr
              td
                div(class="gameboardLogo") NODOPOLY
        td(class="greenPlot") Pacific Avenue
          | $300
      tr
        td(class="orangePlot") Tennessee Avenue
          | $180
        td(class="greenPlot") North Carolina Avenue
          | $300

  div(id="chat-history")
  div(id="drones")
  div(id="people")
  div(id="mapContainer")
  div(id="history")
  div(class="clear")
  div(id="commands")
    input.text(id="toUser", size="10", value="*")
    input.text(id="duration", size="10", value="5")
    input.text(id="message", size="50", value="")
    input(type="button", id="sendButton", value="send")
    input(type="button", id="scan", value="scan")
    img(id="broadcast", src="/images/broadcast_icon.png", height="16px", style="display: none;")
    input(type="checkbox", id="chkboxListDevices", checked=(true===false ? "checked" : undefined))
    | Show all traffic
  div(id="serverStatus")
  div(id="hdnIP", ipaddress="#{ipAddress}")
