extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="menu")
    ul
      li(class="selected", id="mnuGameBoard")
        a(href="#GameBoard") Game Board
      li(id="mnuStatus")
        a(href="#Status") Status
      li(id="mnuHistory")
        a(href="#History") History  
  div(id="gameboard")
    table(class="gameboard")
      tr(class="vertPlot")
        td(class="cornerPlot") Free&nbsp;Parking
          div
        td(class="redPlot") Kentucky Avenue
          | $220
        td Chance
        td(class="redPlot") Indiana Avenue     
          | $220
        td(class="redPlot") Illinois Avenue
          | $240
        td(class="blankPlot") B&amp;O Railroad
          | $200
        td(class="yellowPlot") Atlantic Avenue
          | $260
        td(class="yellowPlot") Ventnor Avenue
          | $260
        td(class="blankPlot") Water Works
          | $150
        td(class="yellowPlot") Marvin Gardens
          | $280
        td(class="cornerPlot") Go&nbsp;To&nbsp;Jail
          div
      tr(class="horzPlot")
        td(class="orangePlot") New York Avenue
          | $200
        td(rowspan="9", colspan="9", align="center")
          table(class="gameboardCenter")
            tr
              td
                div(class="gameboardLogo") NODOPOLY
        td(class="greenPlot") Pacific Avenue
          | $300
      tr(class="horzPlot")
        td(class="orangePlot") Tennessee Avenue
          | $180
        td(class="greenPlot") North Carolina Avenue
          | $300
      tr(class="horzPlot")
        td(class="blankPlot") Community Chest
        td(class="blankPlot") Community Chest
      tr(class="horzPlot")
        td(class="orangePlot") St. James Place
          | $180
        td(class="greenPlot") Pennsylvania Avenue
          | $320
      tr(class="horzPlot")
        td(class="blankPlot") Pennsylvania Railroad
          | $200
        td(class="blankPlot") Short Line
          | $200
      tr(class="horzPlot")
        td(class="purplePlot") Virginia Avenue
          | $160
        td(class="blankPlot") Chance
      tr(class="horzPlot")
        td(class="purplePlot") States Avenue
          | $140
        td(class="bluePlot") Park Place
          | $350
      tr(class="horzPlot")
        td(class="blankPlot") Electric Company
          | $150
        td(class="blankPlot") Luxury Tax
          |(pay $100)
      tr(class="horzPlot")
        td(class="purplePlot") St. Charles Place
          | $140
        td(class="bluePlot") Boardwalk
          | $400
      tr(class="vertPlot")
        td(class="cornerPlot") In Jail / Just Visiting
        td(class="lightBluePlot") Connecticut Avenue
          | $120
        td(class="lightBluePlot") Vermont Avenue
          | $100
        td(class="blankPlot") Chance
        td(class="lightBluePlot") Oriental Avenue
          | $100
        td Reading Railroad
          | $200
        td(class="blankPlot") Income Tax
          | (pay $200)
        td(class="brownPlot") Baltic Avenue
          | $60
        td(class="blankPlot") Community Chest
        td(class="brownPlot") Mediter-ranean Avenue
          | $60
        td(class="cornerPlot") Go <br />(Collect $200)<br />
          img(alt="Monopoly Go Arrow.png", src="./images/Monopoly_Go_Arrow.png", width="44", height="8")
          

  div(id="chat-history")
  div(id="drones")
  div(id="people")
  div(id="mapContainer")
  div(id="history")
  div(class="clear")
  div(id="commands")
    input.text(id="toUser", size="10", value="*")
    input.text(id="duration", size="10", value="5")
    input.text(id="message", size="50", value="")
    input(type="button", id="sendButton", value="send")
    input(type="button", id="scan", value="scan")
    img(id="broadcast", src="/images/broadcast_icon.png", height="16px", style="display: none;")
    input(type="checkbox", id="chkboxListDevices", checked=(true===false ? "checked" : undefined))
    | Show all traffic
  div(id="serverStatus")
  div(id="hdnIP", ipaddress="#{ipAddress}")
